name: "Build & Release APK"

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    # Run commands inside your project subfolder
    defaults:
      run:
        working-directory: ./AttendifyPlus_updated_with_firebase

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle

      - name: Decode Keystore
        run: echo "${{ secrets.SIGNING_KEY_BASE64 }}" | base64 --decode > app/upload-keystore.jks

      - name: Build Release APK
        run: ./gradlew assembleRelease
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: AttendifyPlus_updated_with_firebase/app/build/outputs/apk/release/app-release.apk
